<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{data.img}}" data-edit="img" title="{{data.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{data.name}}" placeholder="Name"/></h1>
    </header>
    <div class="resource">
        <input type="number" name="data.health.value" value="{{systemData.health.value}}"/>
        <span> / </span>
        <input type="number" name="data.health.max" value="{{systemData.health.max}}"/>
    </div>
    <div class="resource">
        <input type="number" name="data.power.value" value="{{systemData.power.value}}"/>
        <span> / </span>
        <input type="number" name="data.power.max" value="{{systemData.power.max}}"/>
    </div>

    <div>
        Constitution: {{systemData.constitution.temporary}}/{{systemData.constitution.potential}}</br>
        Agility: {{systemData.agility.temporary}}/{{systemData.agility.potential}}</br>
        Self Discipline: {{systemData.selfDiscipline.temporary}}/{{systemData.selfDiscipline.potential}}</br>
        Reasoning: {{systemData.reasoning.temporary}}/{{systemData.reasoning.potential}}</br>
        Memory: {{systemData.memory.temporary}}/{{systemData.memory.potential}}</br>
        Strength: {{systemData.strength.temporary}}/{{systemData.strength.potential}}</br>
        Quickness: {{systemData.quickness.temporary}}/{{systemData.quickness.potential}}</br>
        Presence: {{systemData.presence.temporary}}/{{systemData.presence.potential}}</br>
        Intuition: {{systemData.intuition.temporary}}/{{systemData.intuition.potential}}</br>
        Empathy:  {{systemData.empathy.temporary}}/{{systemData.empathy.potential}}</br>
    </div>
</form>