<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{data.img}}" data-edit="img" title="{{data.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{data.name}}" placeholder="Name"/></h1>
    </header>
    <div class="resource">
        <input type="number" name="data.health.value" value="{{systemData.health.value}}"/>
        <span> / </span>
        <input type="number" name="data.health.max" value="{{systemData.health.max}}"/>
    </div>
    <div class="resource">
        <input type="number" name="data.power.value" value="{{systemData.power.value}}"/>
        <span> / </span>
        <input type="number" name="data.power.max" value="{{systemData.power.max}}"/>
    </div>

    <div>
        Constitution: {{systemData.attributes.constitution.temporary}}/{{systemData.attributes.constitution.potential}}</br>
        Agility: {{systemData.attributes.agility.temporary}}/{{systemData.attributes.agility.potential}}</br>
        Self Discipline: {{systemData.attributes.selfDiscipline.temporary}}/{{systemData.attributes.selfDiscipline.potential}}</br>
        Reasoning: {{systemData.attributes.reasoning.temporary}}/{{systemData.attributes.reasoning.potential}}</br>
        Memory: {{systemData.attributes.memory.temporary}}/{{systemData.memory.attributes.potential}}</br>
        Strength: {{systemData.attributes.strength.temporary}}/{{systemData.attributes.strength.potential}}</br>
        Quickness: {{systemData.attributes.quickness.temporary}}/{{systemData.attributes.quickness.potential}}</br>
        Presence: {{systemData.attributes.presence.temporary}}/{{systemData.attributes.presence.potential}}</br>
        Intuition: {{systemData.attributes.intuition.temporary}}/{{systemData.attributes.intuition.potential}}</br>
        Empathy:  {{systemData.attributes.empathy.temporary}}/{{systemData.attributes.empathy.potential}}</br>
    </div>
</form>